.specialityArea {
    /* background-color: rgb(246, 243, 239); */
    background-color: white;

}

.dataArea {
    /* border-left: 1px solid rgb(218, 215, 215); */
    /* border-right: 1px solid rgb(208, 206, 206); */
}

.offerCard {
    display: flex;
    gap: 1px;
}

.roundedOne {
    border-radius: 5px 0 0 5px;
}

.roundedThree {
    border-radius: 0 5px 5px 0;
}

/* breakpoints */

@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 425px) and (max-width: 767.98px) {
    .offerCard {
        display: inline;
        gap: 0px;
    }

    .roundedOne {
        border-radius: 5px;
    }

    .roundedTwo {
        border-radius: 5px;
    }

    .roundedThree {
        border-radius: 5px;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {
    .offerCard {
        display: inline;
        gap: 0px;
    }

    .roundedOne {
        border-radius: 5px;
    }

    .roundedTwo {
        border-radius: 5px;
    }

    .roundedThree {
        border-radius: 5px;
    }
}