.navbg {
    background-color: rgb(204, 204, 238);
}

.navBottomMenu {
    display: flex !important;
    justify-content: space-between !important;
}

.shopLogo {
    width: 330px;
}

.shopCart {
    width: 32px;
    height: 32px;
}