.navbg {
    /* background-color: rgb(204, 204, 238); */
    background-color: white;
    color: #FA292E;
}

.nabBtn {
    color: #B11226;
    text-decoration: none;
}

.cartCheck {
    color: #B11226;
}


.nabBtn:hover {
    /* color: #c41619; */
    border-bottom: 3px solid #c41619;
    /* padding: 5px; */
    /* border-radius: 5px; */
}

.navBottomMenu {
    display: flex !important;
    justify-content: space-between !important;
}

.shopLogo {
    width: 300px;
}

.shopCart {
    width: 32px;
    height: 32px;
}