.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.productImg {
    position: relative;
    width: 187px;
}

.productImg:hover {
    box-shadow: 0px 2px 7px 3px #8888
}