//overwrite the theme variables
$primary : #B11226;
$secondary: rgb(179, 176, 176);
$success: rgb(4, 82, 4);
$info: rgb(64, 7, 209);
$warning: rgb(247, 81, 109);
$danger: red;
$light: rgb(231, 227, 227);
$dark: black;

//imports bootstrap styles at the bottom
@import '~bootstrap/scss/bootstrap.scss';