//overwrite the theme variables
$primary : #B11226;
$secondary: gray;
$success: darkgreen;
$info: orange;
$warning: rgb(247, 81, 109);
$danger: red;
$light: white;
$dark: black;

//imports bootstrap styles at the bottom
@import '~bootstrap/scss/bootstrap.scss';