.messgengerIcon {
    position: fixed;
    width: 60px;
    /* position: absolute; */
    bottom: 0;
    right: 18px;
    z-index: 1;
    background: white;
    padding: 7px;
    border-radius: 50%;

}